@import url(/styles/reset.css);
body {
    font-family: Manrope;
}

.container {
    padding-top: 126px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.counter {
    text-align: center;
}
.counter__value {
    font-size: 32px;
}
.counter__plus, .counter__reset {
    display: block;
    width: 500px;
    margin: 36px auto 0;
    padding: 0 164px;
    text-decoration: none;
    outline: none;
    border: none;
    background: #4191FF;
    border-radius: 20px;
    font-size: 32px;
    line-height: 100px;
    color: #FFFFFF;
    cursor: pointer;
}
.counter__reset {
    background: #D45366;
}


